
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />


<div class="row">
 <ul class="course">
        @foreach(var item in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.Date_Time.ToString().Substring(3, 2)
                    </div>
                    <div class="day">
                        @item.Date_Time.ToString().Substring(0, 2)
                    </div>
                </div>

                <div class="details">
                    <span class="lecture">
                        @item.Name
                        @if (item.isLogin)
                        {
                            if (item.isShowFollow)
                            {
                                <button data-user-id="@item.LecturerId" class="btn btn-default btn-sm js-tongle-follow">
                                    Follow
                                </button>
                            }
                            else
                            {
                                <button data-user-id="@item.LecturerId" class="btn btn-success btn-sm js-tongle-follow">
                                    Following
                                </button>
                            }
                        }

                    </span>

                    <br />
                    <span class="category">
                    @item.Category.Name
                        @if (item.isLogin)
                        {
                            if (item.isShowGoing)
                            {
                                <button data-course-id="@item.Id" class="btn btn-default btn-sm js-tongle-attendance">
                                    Going?
                                </button>
                            }
                            else
                            {
                                <button data-course-id="@item.Id" class="btn btn-info btn-sm js-tongle-attendance">
                                  Going
                                </button>
                            }
                        }
                    </span>

                </div>
            </li>
        }
    </ul>

    @section scripts
 {
        <script>

 $(document).ready(function () {
     $(".js-tongle-attendance").click(function (e)
     {
         var button = $(e.target); $.post("/api/attendances", { Id: button.attr("data-course-id") }).done(function (result)
         {
             if (result == "cancel")
             {
                 alert("Cancel register course sucessfully!")
         button  
         .removeClass("btn-info").addClass("btn-default").text("Going?");
             }
             else
             {
         alert("Register course sucessfully!")
         button
         .removeClass("btn-default").addClass("btn-info").text("Going");
             }
         }).fail(function () {
             alert("Something fail");
         });
     }); 

     $(".js-tongle-follow").click(function (e) {
         var button = $(e.target); var followee = button.attr("data-user-id"); $.post("/api/followings", { FolloweeId: button.attr("data-user-id") }).done(function (result) {
             if (result == "cancel") {
                 $('.js-tongle-follow').each(function (i, obj) {
                     if ($(this).attr('data-user-id') == followee) {
                         $(this).removeClass("btn-success")
                          .addClass("btn-default").text("Follow");
                     }
                 });
                 alert("unFollow sucessfully")
             } else {
                 $('.js-tongle-follow').each(function (i, obj) {
                     if ($(this).attr('data-user-id') == followee) {
                         $(this).removeClass("btn-default")
                         .addClass("btn-success").text("Following");
                     }
                 });
                 alert("Follow sucessfully")
             }
         }).fail(function () { alert("Something fail"); });
     });

 });
        </script>
    }




</div>